.container {
  display: flex;
  flex-direction: column;
}

.NetFlixLogo {
  width: 3rem;
  height: 3rem;
  margin: 0.938rem;
}

.BackGroundImage {
  height: 30rem;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchButtonId {
  margin-left: 1rem;
  height: 3rem;
  width: 9rem;
}

.scrap {
  display: flex;
  align-items: center;
  padding-right: 0%;
}
/* sorby comp */
.sortbydiv {
  display: flex;
  /*     justify-content: space-between; */
  align-items: center;
  background-color: rgb(116, 103, 103);
  color: white;
  height: 3rem;
}

.divWithSortBy {
  display: flex;
  justify-content: right;
  margin-left: 45rem;
}

#MoviesFoundText {
  margin-top: auto;
}

.SortByText {
  margin-top: auto;
}

#buttonsInSortBy1 {
  margin-left: 1rem;
}

#buttonsInSortBy2 {
  margin-left: 0.7rem;
}

/* above styles for components */
.container{
  display: flex;
  flex-direction: column;
}
.NetFlixLogo{
  width: 3rem;
  height: 3rem;
  margin: 0.938rem;
}

.BackGroundImage{
  height: 30rem;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchButtonId{
  margin-left: 1rem;
  height: 3rem;
  width: 9rem;
}
.scrap{
  display: flex;
  align-items: center;
  padding-right: 0%;
  background-color: rgb(157, 151, 151);
  color: white;
}
